html, body {
    height: 100%;
    background: #FFFFFF;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    line-height: 30px;
}

/* headings */
h1 { 
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    font-family: Avenir;
    line-height: 75px;
}

h2 { 
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    font-family: Avenir;
    line-height: 75px;
    text-align: center;
}

h3 { 
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-family: Avenir;
    text-align: center;
    line-height: 25px;
    margin-bottom: 50px;
}

h4 {
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    font-family: Avenir;
    line-height: 30px;
    margin-top: 30px;
}

h5 {
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    font-family: Avenir;
    line-height: 30px;
    margin-top: 30px;
}

/* work page */
#work.card{
    margin-top: 30px;
}

#work-intro.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* nav bar */
.navbar-brand{
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-nav{
    text-align: right;
    font-size: 22px;
}

.nav-item.nav-link.active, .nav-item.nav-link:hover{
    color: #E99999!important;
}

/* images & icons */
img {
    display: block;
    max-width: 100%;
    height: auto;
  }

.icon {
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* links */
#detail-link{
    color: #E99999;
}

a {
    color: #E99999;
}

a:hover {
    color: black;
 }

 a:visited {
    color: #E99999;
}

/* footer */
.page-footer{
    padding-top: 50px;
}

/* buttons */
.btn.btn-primary, .btn.btn-primary:active, .btn.btn-primary:visited{
    border-color:  #E99999!important;
    background-color: white!important;
    color:  #E99999!important;
}

.btn.btn-primary:hover{
    border-color:  #E99999!important;
    background-color: #E99999!important;
    color: white!important; 
}
